// VARIABLES

$white: #ffffff;

$black: #000000;

$grey: #4D4747;

$dark-grey: #363232;

$light-grey: #C4C4C4;

$red: #FA2828;

$orange-light: #ffede5;

$main-font-family: 'Open Sans', sans-serif;

$font-family: 'Roboto', sans-serif;
